"*":
  core:
    closeDeletedFileTabs: true
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".ros"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "90146769-4cc1-dd61-bacb-022123923552"
  "fuzzy-finder":
    ignoredNames: [
      "**/bazel-bin/**"
      "**/bazel-driving/**"
      "**/bazel-out/**"
      "**/bazel-testlogs/**"
      "**/.git/**"
      "**/.ros/**"
      "log_tests/**"
      "third_party/**"
      "**/node_modules/*"
    ]
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
