packages: [
  "advanced-open-file"
  "ask-stack"
  "atom-beautify"
  "atom-ctags"
  "atom-fuzzy-grep"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "autocomplete-xml"
  "busy-signal"
  "choose-pane"
  "city-lights-syntax"
  "city-lights-ui"
  "docblockr"
  "expose"
  "file-icons"
  "git-blame"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "Hydrogen"
  "intentions"
  "jumpy"
  "language-bazel"
  "language-protobuf"
  "linter"
  "linter-pylama"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "monokai-seti"
  "navigate"
  "open-this"
  "package-sync"
  "pipe"
  "platformio-ide-terminal"
  "process-palette"
  "project-manager"
  "script"
  "seti-syntax"
  "seti-ui"
  "solarized-dark-ui"
  "solarized-light-ui"
  "sort-lines"
  "switch-header-source"
  "theme-switch"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "vim-mode-plus-move-to-symbols"
]
