packages: [
  "ask-stack"
  "atom-beautify"
  "atom-ctags"
  "atom-fuzzy-grep"
  "busy-signal"
  "git-plus"
  "git-time-machine"
  "Hydrogen"
  "intentions"
  "language-bazel"
  "language-protobuf"
  "linter"
  "linter-pylama"
  "linter-ui-default"
  "package-sync"
  "sort-lines"
  "switch-header-source"
  "vim-mode-plus"
]
